<link rel="stylesheet" href="css/realtimeproducts.css">

<h1>Real Time Products</h1>

<div id="productsList"></div>

<h2>Add Products</h2>

<form class="row g-3" id="container-list">
  <div class="col-4">
    <input type="text" class="form-control" id="title" placeholder="title" required>
  </div>
  <div class="col-4">
    <input type="text" class="form-control" id="description" placeholder="description" required>
  </div>
  <div class="col-4">
    <input type="number" class="form-control" id="price" placeholder="price" required>
  </div>
  <div class="col-4">
    <input type="text" class="form-control" id="img" placeholder="img" required>
  </div>
  <div class="col-4">
    <input type="number" class="form-control" id="stock" placeholder="stock" required>
  </div>
  <div class="col-4">
    <input type="text" class="form-control" id="code" placeholder="code" required>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-success " id="button">Add</button>
  </div>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/realtimeproducts.js"></script>