<main>
    <h1>Registro de Usuarios</h1>
    <form class="row g-3" action="/api/sessions/register" method="POST">
        <div class="col-md-4">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" placeholder="first name" name="first_name" aria-label="First name"
                required>
        </div>
        <div class="col-md-4">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" placeholder="last name" name="last_name" aria-label="Last name"
                required>
        </div>
        <div class="col-md-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="password" name="password"
                required>
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="email" name="email" required>
        </div>
        <div class="col-md-6">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" placeholder="age" name="age" required>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</main>